
body{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
}
  
nav{
    background-color: #f0f0f0;
    color: #222222;
}


/* main area left panel */
.main-area .left{
    padding-top: 5%;
}

.array-inputs{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60% 40%;
    grid-template-columns: 60% 40%;
    place-content: center;
    padding: 5% 0%;
}

.array-inputs p{
    margin: 0 !important;
}
  
.array-inputs #array-size{
    padding: 5% 0%;
}
  
.array-inputs #sort-speed{
    padding: 5% 0%;
}
  
.array-inputs #generate-array{
    text-align: center;
    margin: 25px 0px;
    border-radius: 5px;
    padding: 5px;
    text-transform: uppercase;
}

  .array-inputs #generate-array:hover{
    background: white;
    cursor: pointer;
    border: 1px solid tomato;
    color: tomato;
}

  
.array-inputs #generate-array:hover{
    cursor: pointer;
}
 
.algo-button .disabled_button{
    background-color: transparent;
    cursor: not-allowed;
}
  
.algo-button .disabled_button:hover{
    background-color: transparent;
    cursor: not-allowed;
    border: 1px solid #d4d4d4;
    color: #d4d4d4;
}
  

.middle #array_container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 70vh;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}
  

  
.hide{
    display: none;
}
  
  /*
  @media (max-width: 480px)//Mobiles
  {
      
  }
  
  @media (min-width: 481px) and (max-width: 1250px)//Tablets
  {
  
  }
  
  @media (min-width: 1251px)//Laptops and up
  {
  
  }
  */
  
.column{
    float: left;
}
  
.left{
    width: 17%;
    padding-right: 2%;
}
  
.middle{
    width: 80%;
    margin-bottom: 50px !important;
}

.sort-algo-name-section{
    justify-content: center;
    display: flex;
}

.sort-algo-name-section button{
    border: 1px solid #d4d4d4;
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0px 5px;
}

.sort-algo-name-section button:hover{
    background: white;
    cursor: pointer;
    border: 1px solid tomato;
    color: tomato;
}

.sort-algo-name-section .active{
    border: 1px solid tomato  !important;
    color: tomato !important;
    background-color: white;
}


/* copyright (footer) */
footer{
  text-align:center;
  margin-top: 4%;
}



  

